body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#container {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    width: 95vw;
    height: 95vw;
    max-height: 400px;
}
#verde {
    width: 50%;
    height: 50%;
    background-color: #008000;
    border-top-left-radius: 100%;
}

#verde:hover{
    transition: 300ms;
    -webkit-box-shadow: -8px -4px 42px 9px rgba(75,209,75,1);
    -moz-box-shadow: -8px -4px 42px 9px rgba(75,209,75,1);
    box-shadow: -8px -4px 42px 9px rgba(75,209,75,1);
    cursor: pointer;
}

.verdePisca {
    background-color: #02ff02;
    -webkit-box-shadow: -8px -4px 42px 9px rgba(75,209,75,1);
    -moz-box-shadow: -8px -4px 42px 9px rgba(75,209,75,1);
    box-shadow: -8px -4px 42px 9px rgba(75,209,75,1);
    transition: 200ms;
}

#vermelho {
    width: 50%;
    height: 50%;
    background-color: #bd0202;
    border-top-right-radius: 100%;
}

#vermelho:hover {
    transition: 300ms;
    -webkit-box-shadow: 10px -4px 42px 9px rgb(209, 75, 75);
    -moz-box-shadow: 10px -4px 42px 9px rgb(209, 75, 75);
    box-shadow: 10px -4px 42px 9px rgb(209, 75, 75);
    cursor: pointer;
}

.vermelhoPisca {
    background-color: rgb(255, 0, 0);
    transition: 200ms;
    -webkit-box-shadow: 10px -4px 42px 9px rgb(209, 75, 75);
    -moz-box-shadow: 10px -4px 42px 9px rgb(209, 75, 75);
    box-shadow: 10px -4px 42px 9px rgb(209, 75, 75);
}

#amarelo {
    width: 50%;
    height: 50%;
    background-color: #dada1a;
    border-bottom-left-radius: 100%;
}

#amarelo:hover {
    transition: 300ms;
    -webkit-box-shadow: -25px 10px 42px 9px rgba(222,222,76,1);
    -moz-box-shadow: -25px 10px 42px 9px rgba(222,222,76,1);
    box-shadow: -25px 10px 42px 9px rgba(222,222,76,1);
    cursor: pointer;
}

.amareloPisca {
    background-color: #ffff00;
    transition: 200ms;
    -webkit-box-shadow: -25px 10px 42px 9px rgba(222,222,76,1);
    -moz-box-shadow: -25px 10px 42px 9px rgba(222,222,76,1);
    box-shadow: -25px 10px 42px 9px rgba(222,222,76,1);
}

#azul {
    width: 50%;
    height: 50%;
    background-color: #1d1dc3;
    border-bottom-right-radius: 100%;
}

#azul:hover {
    transition: 300ms;
    -webkit-box-shadow: 22px 20px 42px 9px rgba(77,77,227,1);
    -moz-box-shadow: 22px 20px 42px 9px rgba(77,77,227,1);
    box-shadow: 22px 20px 42px 9px rgba(77,77,227,1);
    cursor: pointer;
}

.azulPisca {
    background-color: #0000ff;
    transition: 200ms;
    -webkit-box-shadow: 22px 20px 42px 9px rgba(77,77,227,1);
    -moz-box-shadow: 22px 20px 42px 9px rgba(77,77,227,1);
    box-shadow: 22px 20px 42px 9px rgba(77,77,227,1);
}

#startBtn {
    margin-top: 15px;
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgb(228, 64, 64);
    color: white;
}

#startBtn:hover {
    background-color: rgb(182, 48, 48);
    cursor: pointer;
}