@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Amatic+SC&family=Caveat&family=Inter:wght@600&display=swap');

html, body{
  width: 100%;
  height: 100%;
}

#divWelcome{
  width: 100%;
  display: flex;
  justify-content: center;
}

#welcomeGenius{
  font-family: 'Alfa Slab One', cursive;
  color: #24057a;
  font-size: 200px;
  margin: 0% 18%;
  width: 73%;
 
}
#container{
  height: 100%;
  width: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#text{
  font-family: 'Alfa Slab One', cursive;
  font-weight: 600;
  font-size: xx-large;
  letter-spacing: 0.2em;
  
}
#btnStart{
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 7;
  width: 200px;
  height: 70px;
  align-items: center;
  justify-content: center;
  border: solid 0.3px;
  border-radius: 10px;
}
#btnStart:hover{
  background-color: rgb(207, 204, 204);
  cursor: pointer;
}
#contColors{
  background: transparent;
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#verde{
  background: green;
 width: 50%;
 height: 50%;
 border-radius: 20%;
}
#verde:hover{
  transition: 300ms;
  box-shadow: -8px -4px 42px 9px rgba(75,209,75,1);
  -webkit-box-shadow: -8px -4px 42px 9px rgba(75,209,75,1);
  -moz-box-shadow: -8px -4px 42px 9px rgba(75,209,75,1);
  cursor: pointer;
}
#verde:active{
  transition: 100ms;
  background-color: #71eb71;
}
.verdePisca {
  background-color: #02ff02;
  -webkit-box-shadow: -8px -4px 42px 9px rgba(75,209,75,1);
  -moz-box-shadow: -8px -4px 42px 9px rgba(75,209,75,1);
  box-shadow: -8px -4px 42px 9px rgba(75,209,75,1);
  transition: 200ms;
}
#azul{
  width: 50%;
  height: 50%;
  background: blue;
  border-radius: 20%;
}
#azul:hover {
  transition: 300ms;
  -webkit-box-shadow: 22px 20px 42px 9px rgb(0, 0, 253);
  -moz-box-shadow: 22px 20px 42px 9px rgb(0, 0, 255);
  box-shadow: 22px 20px 42px 9px rgb(0, 0, 255);
  cursor: pointer;
}
#azul:active {
  background-color: #4242f0;
  transition: 100ms;
}
.azulPisca {
  background-color: #0000ff;
  transition: 200ms;
  -webkit-box-shadow: 22px 20px 42px 9px rgb(0, 0, 247);
  -moz-box-shadow: 22px 20px 42px 9px rgb(0, 0, 255);
  box-shadow: 22px 20px 42px 9px rgb(0, 0, 245);
}
#vermelho{
  width: 50%;
  height: 50%;
  background: red;
  border-radius: 20%;
}
#vermelho:hover {
  transition: 300ms;
  -webkit-box-shadow: 10px -4px 42px 9px rgb(209, 75, 75);
  -moz-box-shadow: 10px -4px 42px 9px rgb(209, 75, 75);
  box-shadow: 10px -4px 42px 9px rgb(209, 75, 75);
  cursor: pointer;
}
#vermelho:active {
  transition: 100ms;
  background-color: rgb(246, 69, 69);
}
.vermelhoPisca {
  background-color: rgb(255, 0, 0);
  transition: 200ms;
  -webkit-box-shadow: 10px -4px 42px 9px rgb(209, 75, 75);
  -moz-box-shadow: 10px -4px 42px 9px rgb(209, 75, 75);
  box-shadow: 10px -4px 42px 9px rgb(209, 75, 75);
}
#amarelo{
  width: 50%;
  height: 50%;
  background: yellow;
  border-radius: 20%;
}
#amarelo:hover {
  transition: 300ms;
  -webkit-box-shadow: -25px 10px 42px 9px rgba(222,222,76,1);
  -moz-box-shadow: -25px 10px 42px 9px rgba(222,222,76,1);
  box-shadow: -25px 10px 42px 9px rgba(222,222,76,1);
  cursor: pointer;
  
}

#amarelo:active{
  transition: 100ms;
  background-color: rgb(240, 240, 116);
}
.amareloPisca {
  background-color: #ffff00;
  transition: 200ms;
  -webkit-box-shadow: -25px 10px 42px 9px rgba(222,222,76,1);
  -moz-box-shadow: -25px 10px 42px 9px rgba(222,222,76,1);
  box-shadow: -25px 10px 42px 9px rgba(222,222,76,1);
}
#logoKenzie{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  position: absolute;
}
#logoKenzie > img{
  border-radius: 50%;
  width: 100%;
  height: 100%;

}

#placar {
  border: dotted black 3px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  width: 300px;
  padding:0.5% ;
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
  font-size: xx-large;
}

h2 {
  margin-top: 0px;
  width: 100%;
  text-align: center;
}

#scoreAtual {
  margin-left: auto;
  text-align: right;
}
#recordAtual {
  margin-left: auto;
  text-align: right;
}
#timeValor{
  margin-left: auto;
  text-align: right;
  margin-bottom: 3px;

}
.divResultPlacar{
  display: flex;
}